/data

*.img

*.2bit

*.fa
*.fa.*
*.fai
*.gzi
*.dict

*.fasta
*.fasta.*

*.fastq
*.fastq.*

*.sam
*.sam.*

*.bam
*.bam.*

*.gff
*.gff.*

*.gtf
*.gtf.*

*.gff3
*.gff3.*

*.vcf
*.vcf.*

*snpeff.html
*snpeff.genes.txt

*.log

*.pickle
*.pickle.*

*.hdf5
*.hdf5.*

*.gz
*.gz.*
*.gz_*
*.tbi

*Icon*
*.DS_Store
*_pycache_*
*.py[cod]
*.ipynb_checkpoints*
*.idea
*.swp
