[submodule "ccal/file"]
	path = ccal/file
	url = https://github.com/kwatme/file
[submodule "ccal/information"]
	path = ccal/information
	url = https://github.com/kwatme/information
[submodule "ccal/linear_model"]
	path = ccal/linear_model
	url = https://github.com/kwatme/linear_model
[submodule "ccal/match"]
	path = ccal/match
	url = https://github.com/kwatme/match
[submodule "ccal/mutational_signature"]
	path = ccal/mutational_signature
	url = https://github.com/kwatme/mutational_signature
[submodule "ccal/nd_array"]
	path = ccal/nd_array
	url = https://github.com/kwatme/nd_array
[submodule "ccal/onco_gps"]
	path = ccal/onco_gps
	url = https://github.com/kwatme/onco_gps
[submodule "ccal/plot"]
	path = ccal/plot
	url = https://github.com/kwatme/plot
[submodule "ccal/probability"]
	path = ccal/probability
	url = https://github.com/kwatme/probability
[submodule "ccal/support"]
	path = ccal/support
	url = https://github.com/kwatme/support
[submodule "ccal/matrix_decomposition"]
	path = ccal/matrix_decomposition
	url = https://github.com/kwatme/matrix_decomposition
[submodule "ccal/geo"]
	path = ccal/geo
	url = https://github.com/kwatme/geo
