[submodule "ccal/nd_array"]
	path = ccal/nd_array
	url = https://github.com/kwatme/nd_array
[submodule "ccal/information"]
	path = ccal/information
	url = https://github.com/kwatme/information
[submodule "ccal/match"]
	path = ccal/match
	url = https://github.com/kwatme/match
[submodule "ccal/gsea"]
	path = ccal/gsea
	url = https://github.com/KwatME/gsea
[submodule "ccal/matrix_decomposition"]
	path = ccal/matrix_decomposition
	url = https://github.com/kwatme/matrix_decomposition
[submodule "ccal/cluster"]
	path = ccal/cluster
	url = https://github.com/kwatme/cluster
[submodule "ccal/geo"]
	path = ccal/geo
	url = https://github.com/kwatme/geo
[submodule "ccal/plot"]
	path = ccal/plot
	url = https://github.com/kwatme/plot
[submodule "ccal/gps_map"]
	path = ccal/gps_map
	url = https://github.com/KwatME/gps_map
[submodule "ccal/support"]
	path = ccal/support
	url = https://github.com/KwatME/support
